[submodule "home/.vim/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/snipmate"]
	path = home/.vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "home/.vim/tabular"]
	path = home/.vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "home/.vim/bundle/vim-json"]
	path = home/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
